.ProfileView {
  position: relative;
  display: flex;
  flex-flow: column;
  background: linear-gradient(180deg, #d6cfcf 0%, #aea9a9 100%);

  .profile_details {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(rgba(50, 38, 38, 0.7), rgba(97, 84, 84, 0.7));
      z-index: -1;
    }

    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10%;
    padding: 5% 0 0 0;

    .profile_image {
      max-width: min(5rem, 20%);
      object-fit: cover;
      border-radius: 50%;
      outline: 1px solid red;
    }

    .profile_name {
        font-family: "Tangerine", cursive;
        font-weight: 500;
        font-size: 1.3rem;
    }

    .subscribe{
        border: none;
        padding: 0.4rem;
        border-radius: 1em;
        box-shadow: 0 0 0.2rem 0 #000000;
    }
  }

  .profile_description {
    p {
      font-family: "Roboto", sans-serif;
      color: rgb(17, 16, 16);
      padding: 0 0 0 3%;
      font-size: 0.9rem;
      margin-top: auto;
      text-align: center;
    }
  }
}
// * {
//   border: 1px solid red;
// }
