@use "./../../global_components/color_palate" as color_palate;

.contents {
  background-color: color_palate.color(primary, 1);
  display: grid;
  gap: 1rem;
  padding: 2rem;
  overflow: hidden;
}
@media (min-width: 35rem) {
  .contents {
    padding: 5rem 3rem 5rem 3rem;
  }
}

.tab_container {
  display: grid;
  grid-template-columns: auto auto;

  .tabs {
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: color_palate.color(primary, 1);
      // border-top-left-radius: 0.5rem;
      // border-top-right-radius: 0.5rem;
    }
    padding: 0.5rem;
    border: none;
    text-align: center;
    background-color: color_palate.color(primary_light, 1);
  }
}
// * {
//   outline: 1px solid red;
// }
